    <div id="cover" data-role="page">
        <div style="width:85%;margin:10px auto"><img style="width:85%" src="~/Images/cover.png" /></div>
            <div data-role="footer" data-position="fixed" data-theme="b">
                <a href="#pg1" data-transition="flip">Next</a>
            </div>
    </div>

    @*<div id="pg1" data-role="page">
        <div><img src="~/Images/img_1012.jpg" /></div>
        <div data-role="footer" data-position="fixed" data-theme="b">
            <a href="#home" data-transition="flip">Next</a>
        </div>
    </div>*@
