<div id="editor" data-role="page">
    <div data-role="header" data-theme="b">
        <h1>Page Editor</h1>
        <a href="#home" data-icon="backward" class="ui-btn-right">Home</a>
        <a id="loadpage" href="javascript:FillPageList()" data-transition="pop" data-icon="gear" data-rel="dialog" class="ui-btn-left">&nbsp;Load Page&nbsp;</a>
    </div>
    <div id="thumbs2" class="content">
        <ul></ul>
    </div>

</div>
    <div id="editchoices" data-role="page" data-overlay-theme="f" style="text-align:center">
        <div role="heading" data-role="header" data-theme="b">
            <h1>Select Page</h1>
        </div>
            <h3>Please choose a page or add a new page</h3>
        <label for="pages-slider">Choose or enter a page number</label>
        <input type="range" name="pages-slider" id="pages-slider" value="1" min="1" />

        <input type="button" id="gotopage" data-inline="true" data-theme="b" value="Goto Page" data-icon="plus" onclick="GotoPage()" />
        <input type="button" id="addpage" data-inline="true" data-theme="b" value="Add Page" data-icon="plus" onclick="AddAPage()"/>
        <input type="button" id="removepage" data-inline="true" data-theme="b" value="Remove Page" data-icon="plus" />
    </div>

<script>

    function FillPageList() {
        $('#pagenumbers').empty();
        $.mobile.changePage('#editchoices', { transition: 'pop', role: 'dialog' });
        $('#pages-slider').attr('max', global.Album[0].PageCount);
        var mkUp = '';
    }
    function GotoPage() {
        var selectedPage = $('#pages-slider').val();
        $.mobile.changePage('#imagemanager');
        global.activePage = parseInt(selectedPage);
        editor.ShowPage();
        editor.isEditor = true;
        editor.GetThumbs($('#thumbs ul'), false, false);
    }
    function AddAPage() {

        $.ajax({
            url: $.cookie('location') + 'Data/AddPage?albumId=' + global.Album[0].Id,
            type: 'get',
            async: false,
            success: function() {
                var album = JSON.parse($.cookie('album'));
                var pgCount = parseInt(album[0].PageCount);
                pgCount++;
                album[0].PageCount = pgCount;
                $.cookie('album', JSON.stringify(album), { expires: 30, path: '/' });
                global.Album[0].PageCount++;
                $('#pages-slider').attr('max', global.Album[0].PageCount);

                $('#pages-slider').val(parseInt(global.Album[0].PageCount));
                pages.Add();
                GotoPage();
            }
        });
    }
    
</script>