<div id="settings" data-role="page">
    <div data-role="header" data-theme="b" data-position="fixed">
        <h1>Settings</h1>
    </div>
    <div data-role="collapsible" data-theme="b" class="ui-content">
        <h3>Settings</h3>
            <p>Number of slides to display</p>
            <input type="number" style="width:150px" />    
        <a href="#" data-role="button" data-inline="true" data-theme="b">Upload home page image</a>
        <label data-inline ="true">
            <input data-theme="b" type="checkbox" checked>Dont allow any further users</input>
        </label>
    </div>
    <div data-role="collapsible" class="ui-content" data-theme="b">
        <h3>Users</h3>

        <div data-role="collapsible-set">
            <div data-role="collapsible">
                <h3>Click me - I'm collapsible!</h3>
                <input style="width:400px" data-mini="true" type="text"></input>
            </div>
            <div data-role="collapsible">
                <h3>Click me - I'm collapsible!</h3>
                <p>I'm the expanded content.</p>
            </div>
            <div data-role="collapsible">
                <h3>Click me - I'm collapsible!</h3>
                <p>I'm the expanded content.</p>
            </div>
            <div data-role="collapsible">
                <h3>Click me - I'm collapsible!</h3>
                <p>I'm the expanded content.</p>
            </div>
        </div>
    </div>

</div>
