<html>
    <head>
        <title>Album</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1" />
        <link href="~/Content/jquery.mobile.theme-1.1.2.min.css" rel="stylesheet" />
        <link href="~/Content/jquery.mobile-1.1.2.min.css" rel="stylesheet" />

        <script src="~/Scripts/jquery-1.8.2.js"></script>
        <script src="~/Scripts/jquery.cookie.js"></script>

        <script src="~/Scripts/jquery.mobile-1.1.2.min.js"></script>
        <link href="~/Content/jqm.css" rel="stylesheet" />
        <script src="~/Scripts/jqmViewer.js"></script>
        <script src="~/Scripts/jquery-scrollto.js"></script>
    </head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
